<%- include('../partials/header.ejs')%>
<div class="contianer">
    <form method = "POST" action = "/items/<%= item.id%>?_method=PUT" enctype="multipart/form-data" class="new-form">
        <label for="cond">Condition</label>
        <select name="condition" id="cond" required>
            <option selected = "selected"><%= item.condition%></option>
            <option value="New">New</option>
            <option value="Like New">Like New</option>
            <option value="Good">Good</option>
            <option value="Used">Used</option>
            <option value="Other">Other</option>
        </select>
    
        <label for="title">Title</label>
        <input type="text" id="title" name = "title" value="<%= item.title%>">
    
        <label for="price">Price</label>
        <input type="number" id="price" name = "price" value="<%= item.price%>">
        
        <label for="details">Details</label>
        <textarea name="details" id="details" minlength="20"><%= item.details%></textarea>
    
        <label for="file">Image</label>
        <input type="file" name="image" id="file">
    
        <label for="submit"></label>
        <input type="submit" id = "submit">
    </form>
</div>
<%- include('../partials/footer.ejs')%>